<!DOCTYPE html>
<html>
  <head>
    <title>TextMogul</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="/favicon.ico">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  </head>
  <body class='login contrast-background'>
    <div class='middle-container'>
      <div class='middle-row'>
        <div class='middle-wrapper'>
          <div class='login-container-header'>
            <div class='container'>
              <div class='row'>
                <div class='col-sm-12'>
                  <div class='text-center'>
                    <a href="/" id="brand-link">
                      <%= image_tag 'marketing/homepage-logo.png', id: 'logo', class: 'img-responsive' %>
                      <h1 id="brand">TextMogul</h1>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%= yield %>
        </div>
      </div>
    </div>
    <%= yield :scripts %>
  </body>
</html>
